<template>
    <img v-if=image :src=image>
    <div class="bg-dark"></div>

    <div class="indecision-container">
        <input type="text" v-model="question" placeholder="Hazme una pregunta">
        <p>Recuerda terminar cun un (?)</p>

        <div v-if=isValidQuestion>
            <h2>{{ question }}</h2>
            <h1>{{ answer === 'yes' ? 'Si' : 'No' }}</h1>
        </div>

    </div>

</template>
<script>
export default {
    name : 'Indecision',
    data() {
        return {
            question : '',
            answer : '',
            image : '',
            isValidQuestion : false
        }
    },
    methods : {
        async getAnswer() {

            this.answer = 'Pensando ...'

            await fetch('https://yesno.wtf/api')
                .then( (response) => response.json())
                .then( ({answer, image}) => {
                
                    this.answer = answer
                    this.image = image
                
                })
        }
    },
    watch : {
        question ( value, oldValue ) {
            
            this.isValidQuestion = true
            
            if ( value.includes('?') ) {
                this.answer = 'Llamar a la API'
                this.getAnswer()
            }
        }
    }
}
</script>
<style scoped>

    img, .bg-dark {
        height: 100vh;
        left: 0px;
        max-height: 100%;
        max-width: 100%;
        position: fixed;
        top: 0px;
        width: 100vw;
    }

    .bg-dark {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .indecision-container {
        position: relative;
        z-index: 99;
    }
    
    input {
        width: 250px;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
    }
    input:focus {
        outline: none;
    }

    p {
        color: white;
        font-size: 20px;
        margin-top: 0px;
    }

    h1, h2 {
        color: white;
    }
    
    h2 {
        margin-top: 150px;
    }

</style>