<template>
  <h2>Counter!!</h2>
  <p>{{ counter }} <sup>2</sup> = {{ getCuadrado2 }}</p>
    <div>
        <button @click="incrementa()">+1</button>
        <button @click="decrementa()">-1</button>
    </div>

</template>

<script>
export default {
    name: 'Contador',
    data() {
        return {
            counter : 2
        }
    },
    methods : {
        // Se ejecuta todas las veces que se llame
        getCuadrado() {
            return this.counter * this.counter
        },
        incrementa() {
            this.counter ++ 
        },
        decrementa() {
            this.counter --
        }
    },
    computed: {
        // Mantiene el resultado en cache por ende se ejecuta solo una vez, aunque se llame en varias partes
        // el valor solo cambia cuando el parametro de entrada sufra un cambio
        getCuadrado2() {
            console.log('computed')
            return this.counter * this.counter
        }
    }
}
</script>

<style>
    button {
        margin: 5px;
        background: #188f00;
        border: 1px solid #137200;
        border-radius: 5px;
        padding: 5px 15px;
        color: aliceblue;
    }

    button:hover {
        background: #137200;
        transition: 0.3s ease-in-out;
    }
</style>