<template>
  <h2>Counter!!</h2>
  <p>{{ counter }} <sup>2</sup> = {{ getCuadrado2 }}</p>
  <p>{{ counter }} <sup>2</sup> = {{ getCuadrado2 }}</p>
  <p>{{ counter }} <sup>2</sup> = {{ getCuadrado2 }}</p>
</template>

<script>
export default {
    name: 'Contador',
    data() {
        return {
            counter : 2
        }
    },
    methods : {
        // Se ejecuta todas las veces que se llame
        getCuadrado() {
            return this.counter * this.counter
        }
    },
    computed: {
        // Mantiene el resultado en cache por ende se ejecuta solo una vez, aunque se llame en varias partes
        // el valor solo cambia cuando el parametro de entrada sufra un cambio
        getCuadrado2() {
            console.log('computed')
            return this.counter * this.counter
        }
    }
}
</script>

<style>

</style>