<template>
  
  <h1 v-if="!pokemon"> Espere porfavor </h1>
  <div v-else>
      <h1>Quien es este pokemon</h1>

      <!-- TODO: img -->
      <PokemonPicture  
        :pokemonID="pokemon.id" 
        :showPokemon="showPokemon" 
        />
      <!-- TODO: Opciones -->
      <PokemonOptions 
        :pokemons="arrPokemons"
        @selection="checkAnswer" 
        />

      <template v-if="showAnswer">
        <h2 > {{ message }} </h2>
        <button @click="newGame">
          Nuevo Juego
        </button>
      </template>
  </div>
</template>

<script>
import PokemonPicture from '@/components/PokemonPicture.vue';
import PokemonOptions from '@/components/PokemonOptions.vue';

import getPokemonOptions from '@/helpers/getPokemonOptions';

export default {
    components: {
      PokemonPicture,
      PokemonOptions
  },
  data() {
    return {
      arrPokemons : [],
      pokemon : null,
      showPokemon: false,
      showAnswer: false,
      message : "Hola"
    }
  },
  methods : {
    async mixPokemonArray() {
      this.arrPokemons = await getPokemonOptions()

      const rand = Math.floor( Math.random() * 4 )

      this.pokemon = this.arrPokemons[rand];

      console.log(this.pokemon);

    },

    checkAnswer (pokemonIdSeleccionado) {

        if ( pokemonIdSeleccionado === this.pokemon.id ) {
        
          this.showPokemon  = true;
          this.showAnswer   = true;
          this.message      = `Excelente el pokemon ${ this.pokemon.name }`
        
        } else {

          this.message      = `Oops el pokemon era ${ this.pokemon.name }`

        }

    },

    newGame () {
      this.mixPokemonArray()
      this.showPokemon = false
      this.showAnswer = false
      this.message = ""
      this.pokemon = null
    }

  },
  mounted() {
    
    this.mixPokemonArray()

  }
}
</script>